<h4>Note #<span class="id red">{{id}}</span></h4><br>
<div class="input">
	<input type="text" name="title-update" id="title" value='{{title}}' autocomplete="off">
</div>
<br>
<div class="input">
	<textarea name="content-update" id="content">
		{{content}}
	</textarea>
</div>
<br>
<input type='button' value="Update" class="button update">