<div class="input">
	<input type="text" name="title" id="title" placeholder='Add a title...' autocomplete="off">
</div>
<br>
<div class="input">
	<textarea name="content" id="content" placeholder='Start typing here...'></textarea>
</div>
<br>
<input type='button' value="Create" class="button create">