<div data-id={{id}}>
	<input type="button", value="New" class="button new">
	<br><br><br>
	<h4>Note #<span class="id red">{{id}}</span></h4><br>
	<div class="input">
		<p class="note-title">{{title}}</p>
	</div>
	<br>
	<div class="input">{{content}}</div>
	<br><br><br>
	<input type="button" value="Edit" class="button edit">
</div>