<!DOCTYPE html>
<html>
	<head>
	  <title>NotetakerJquery</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div id="main-view">
			<h1>Notetaker</h1>
			<section id='preview-list-view'>
			</section>
			<section id='note-view'>
			</section>
		</div>

	</body>
</html>
